#Client/Server Supabase SDK
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
#Supabase connection polling + direct (for migrations)
DATABASE_URL=""
DIRECT_URL=""

#Authentication
ADMIN_EMAILS=""

#Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=""

#Shopify
SHOPIFY_STORE_DOMAIN=""
SHOPIFY_STOREFRONT_ACCESS_TOKEN=""
SHOPIFY_STOREFRONT_API_VERSION=""
NEXT_PUBLIC_SHOP_ENABLED=""

#Notifications
CRON_SECRET=""
RESEND_API_KEY=""

#Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
